.image-container {
  margin: 20px auto;
  width: 750px;
  height: 500px;
}

.image-container img {
  width: 100%;
}

.image-container-big {
  margin: 20px auto;
  width: 1000px;
  height: 1000px;
  position: relative;
}

.image-container-big img {
  width: 100%;
}

.img-export {
  display: block;
}

.image-container-1 {
  position: relative;
  width: 750px;
  height: 500px;
}

.image-container-1 span {
  position: absolute;
  font-size: 30px;
}

.image-container-2 {
  position: relative;
  width: 1000px;
  height: 1000px;
}

.image-container-2 span {
  position: absolute;
  font-size: 30px;
}

.image-container-big .child {
  position: absolute;
  width: 750px;
  height: 750px;
  border: 1px solid red;
  z-index: 100;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  pointer-events: none;
}
